.ant-input-affix-wrapper {
    --bee-input-bg: var(--bee-bg-88);

    &,
    &:not(.ant-input-affix-wrapper-disabled):hover,
    &:focus, &.ant-input-affix-wrapper-focused,
    .ant-form-item-has-error &:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless),
    .ant-form-item-has-error &:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless):hover {
        background-color: var(--bee-input-bg);
        border-color: var(--bee-input-bg);
        color: var(--bee-bg-40);
        caret-color: var(--bee-primary);
        border-radius: 6px;
        font-size: 12px;
        font-weight: bold;
    }
}

.ant-form-item-has-error .ant-input-prefix {
    color: var(--bee-bg-40);
}

.ant-input {
    --bee-input-bg: var(--bee-bg-88);

    &,
    .ant-input-search &:hover, .ant-input-search &,
    .ant-form-item-has-error &:not(.ant-input-disabled):not(.ant-input-borderless).ant-input,
    .ant-form-item-has-error &:not(.ant-input-disabled):not(.ant-input-borderless):hover
    {
        background-color: var(--bee-input-bg);
        border-color: var(--bee-input-bg);
        color: var(--bee-bg-60);
        caret-color: var(--bee-primary);
        border-radius: 6px;
        font-size: 12px;
        font-weight: bold;
    }

    &::-webkit-file-upload-button {
        border: none;
        background-color: var(--bee-input-bg);
        border-radius: 6px;
        color: var(--bee-bg-60)
    }

    &::placeholder {
        color: var(--bee-bg-70);
    }

    &:hover {
        border-color: var(--bee-bg-84);
    }

    &:focus,
    .ant-input-search &:focus,
    &.ant-input-focused {
        border-color: var(--bee-bg-84);
        border-right-width: 1px !important;
        outline: 0;
        color: var(--bee-bg-40);
        // background-color: var(--bee-bg-80);
        box-shadow: 0 0 4px var(--bee-bg-90);
    }
}
